@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color:#ffffff;
    --secondary-text-color:#000000;
    --sub-text-color:#484848;
    --section-front-title:#4870FF;
    --section-BG-title:#ffb70092;
    --button-color:#FFB800;
    --padding-inline-section:20px
}

body{
    font-family: 'Poppins', sans-serif;
    color:var(--secondary-text-color);
}

h1{
    font-size: 6rem;
    color: #ffffff;
    text-shadow: 5px 5px #b5b5b528;
}

h2{
    font-size: 2rem;
    color: #ffffff;
    font-weight: 500;
}

h3{
    font-size: 3.9rem;
    color: var(--section-front-title);
    font-weight: 700;
}
h4{
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: 300;
}

h5{
    font-size: 3rem;
    color: #000000df;
    font-weight: 700;
    line-height: 60px;
    font-family: 'Poppins', sans-serif;
}

.small-bold-text{
    font-size: 1rem;
    font-weight:700;
}

p{
    font-family:'Times New Roman', Times, serif;
    font-size: 1.35rem;
    color:#ffffff;
    line-height: 1.8rem;
    text-align: justify;
}

a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
    font-size: 1.2rem;
   
}

.flex{
    display: flex;
    align-items: center;
}

.container{
    max-width: 1200px;
    margin-inline: auto;
    overflow: hidden;
    /* background-color: #180707c2; */
    padding-inline:var(--padding-inline-section) ;
} 

.hover-menu{
  
    color: var(--primary-text-color);
    font-weight: 500;
    transition: 0.2s ease-in-out;
}

.hover-menu:hover{
    color: #f5f900;
    border-bottom:3px solid #f5f900;
   
}

.nav-toggle{
    display: none;
}
.hero{
    background-image: url(images/imgmain.png);
    /* background-color: #4870FF; */
    background-size: 100%;
    height: 660px;
    background-repeat: no-repeat;
}

.nav-section{
    justify-content: space-between;
    top: 30px;
    position: relative;
    background-color: #0000002f;
    border-radius: 10px;
}

.website-logo{
    width: 50px;
}

.menus{
    flex-basis:730px ;
}
.menus ul{
    margin-left: 180px;
    justify-content: end;
    gap: 70px;
}

header{
    margin-top: 160px;
}

.header-section{
    gap: 45px;
    justify-content: center;
}

.horizontal-line img{
    width: 10px;
}

.header-text{
    flex-direction: column;
  
}


.search-section{
    justify-content: center;
    margin-top: 7%;
}

.search-input input {
    width: 842px;
    height: 44px;
    border: none;
    padding-left: 30px;
    font-size: 21px;
    font-family:'Times New Roman', Times, serif;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.251);
    border-radius: 5px;
    backdrop-filter: blur(2px)
}

.search-btn{
    width: 143.7px;
    height: 45px;
    background: #f5f9009a;
    color: rgb(61, 61, 61);
    font-size: 19px;
    border: none;
    font-weight: 500;
    border-radius: 5px;
    word-wrap: break-word;
    cursor: pointer;
}
.search-btn:hover{
    color: rgb(22, 22, 22);
    background-color:#f5f900;
    /* border: 1px solid #ffffff; */
}

/* Section 2 */
.game-section{
  margin-top: 10px;
}
.section-two{
  flex-direction: column;
  row-gap: 30px;
  height: 480px;
  /* background-color: #000000; */
  justify-content: center;
  background-image: url(images/WtchURfavBox1.png);
}

.sec-two-heading{
  word-spacing: 12px;
}    
/* 
.WYFimg:nth-child(1) {
  background-image: url(images/GettyImages.png);
}

.WYFimg:nth-child(2) {
  background-image: url(images/wrestling.png);
}
.WYFimg:nth-child(3) {
  background-image: url(images/pvsindhu.png);
}
.WYFimg:nth-child(4) {
  background-image: url(images/jymnastic.jpg);
}
.WYFimg:nth-child(5) {
  background-image: url(images/indiamixedrelayteam.png);
} */
  .pic-ctn {
      width: 100vw;
      height: 200px;
    }
    .Bsize{
      font-size: 1.8rem;

    }
  
    .aTag{
      justify-content: end;
      color: #000000;
    }
    
    @keyframes display {
      0% {
        transform: translateX(200px);
        opacity: 0;
      }
      1% {
        transform: translateX(0);
        opacity: 1;
      }
      20% {
        transform: translateX(0);
        opacity: 1;
      }
      21% {
        transform: translateX(-200px);
        opacity: 0;
      }
  
      25% {
        transform: translateX(-200px);
        opacity: 0;
      }
      30% {
        transform: translateX(-200px);
        opacity: 0;
      }
      60% {
        transform: translateX(-300px);
        opacity: 0;
      }
    }
  
    .corosal{
      height: 300px;
      justify-content:space-evenly;
    }
     
    .pic-ctn {
      position: relative;
      width: 100vw;
      height: 300px;
      margin-right: 20px;
      margin-top: 0vh;
    }
    
    
    .pic-ctn >.WYFimg {
      position: absolute;
      top: 0;
      left: calc(20% - 100px);
      opacity: 0;
      animation: display 170s infinite;
    }
    
    .WYFimg .WYF{
      width: 530px;
      height: 290px;
    }

    .WYFimg:nth-child(1) {
      animation-delay: 1s;
    }
    .WYFimg:nth-child(2) {
      animation-delay: 34s;
    }
    .WYFimg:nth-child(3) {
      animation-delay: 68s;
    }
    .WYFimg:nth-child(4) {
      animation-delay: 102s;
    }
    .WYFimg:nth-child(5) {
      animation-delay: 136s;
    }
     /*
   .WYFimg:nth-child(6) {
      animation-delay: 170s;
    }
     
    .WYFimg:nth-child(7) {
      animation-delay: 204s;
    }
   */
    .DescriptionPara{
      width: 500px;
      align-items: center;
      height: 290px;
      margin-right: 60px;
      margin-top: -10px;
      background-color: rgba(149, 148, 148, 0.788);
    }
  
    .animatedPara{
      position: relative;
      width: 455px;
      height: 270px;
      margin: 10px;
      background-color: rgb(255, 255, 255);
  
    }
    .para{
      font-size: 1.28rem;
      padding: 25px 20px;

      text-align: justify;
      width: 460px;
      color: #000000;
    }
  
    
    .animatedPara > .para {
      position: absolute;
      top: -20px;
      left: calc(30% - 135px);
      opacity: 0;
      animation: display 170s infinite;
    }
  
  
    .para:nth-child(1) {
      animation-delay: 1s;
    }
    .para:nth-child(2) {
      animation-delay: 34s;
    }
    .para:nth-child(3) {
      animation-delay: 68s;
    }
    .para:nth-child(4) {
      animation-delay: 102s;
    }
    .para:nth-child(5) {
      animation-delay: 136s;
    }
    .para:nth-child(6) {
      animation-delay: 170s;
    }
    /* 
    .para:nth-child(7) {
      animation-delay: 204s;
    } */


    footer{
        height: 100px;
        margin-top: 60px;
        
        background-color: #223a86;
    }

    .foot{
        flex-direction: column;
        justify-content:center;
    }

    .foot p{
        margin-top: 35px;
    }