@media screen and (min-width: 426px) and (max-width:768px){

.hero{
    height: 400px;
}

.nav-section{
  justify-content:space-around;
    top: 30px;
    position: relative;
    gap: 140px;
    overflow:auto;
    background-color: #0000002f;
    border-radius: 10px;
}


.website-logo{
    width: 50px;
}

.LogoImg{
    padding-top: 7px;
    width: 76px;
    margin-left: 30px;
    height: 58px;
}
.menus{
    flex-basis:730px ;
    justify-content: space-around;
    /* align-items: end;
    text-align: end; */
}
.menus ul{
        margin-left: 0px;
        justify-content: end;
        gap: 40px;
}
.hover-menu{
    font-size: 1rem;
}
header{
    margin-top: 160px;
}

.header-section{
    gap: 45px;
    margin-top: -80px;
    justify-content: center;
}

.header-text h1{
    font-size: 3.5rem;
    color: #ffffff;
    text-shadow: 5px 5px #b5b5b528;
}

.header-text h2{
    font-size: 1.3rem;
    color: #ffffff;
    font-weight: 500;
}

.horizontal-line img{
    width: 6px;
}

.header-text{
    flex-direction: column;
  
}
.search-section{
    justify-content: center;
    margin-top: 4%;
}

.search-input input {
    width: 400px;
    height: 28px;
    padding-left: 30px;
    font-size: 18px;
}

.search-btn{
    width: 100px;
    height: 28px;
    font-size: 14px;

}

/* Section 2 */
.game-section{
    margin-top: 0px;
}
h3{
    font-size: 2.2rem;
    color: var(--section-front-title);
    font-weight: 700;
}
.section-two{
    flex-direction: column;
    row-gap: 10px;
    /* background-color: #000000; */
    justify-content: center;
    width: 100%;
    height: 600px;
    background-size: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/WtchURfavBox1.png);
}

.sec-two-heading{
    word-spacing: 3px;
} 
.pic-ctn {
    width: 100vw;
    height: 200px;
    margin-top: 250px;
    background-size: cover;
  }
  .Bsize{
    font-size: 1.1rem;

  }

  .aTag{
    justify-content: end;
    color: #000000;
  }
  
  @keyframes display {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    1% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    21% {
      transform: translateX(-100px);
      opacity: 0;
    }

    25% {
      transform: translateX(-100px);
      opacity: 0;
    }
    30% {
      transform: translateX(-100px);
      opacity: 0;
    }
    60% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .corosal{
    height: 630px;
    width: 600px;
    margin-top: 10px;
    justify-content:space-evenly;
    flex-direction: column;
    gap: 80px;
  }
   
  .pic-ctn {
    position: relative;
    width: 680px;
    height: 350px;
    margin-right: -45px;
    margin-top: 170px;
    margin-bottom: 30px;
    
  }
  
  
  .pic-ctn >.WYFimg {
    position: absolute;
    top: 0;
    left: calc(20% - 100px);
    opacity: 0;
    animation: display 238s infinite;
  }
  
  .WYFimg .WYF{
    margin-top: 105px;
    width: 560px;
    height: 280px;
}

  .WYFimg:nth-child(1) {
    animation-delay: 1s;
  }

  .WYFimg:nth-child(2) {
    animation-delay: 34s;
  }
  .WYFimg:nth-child(3) {
    animation-delay: 68s;
  }
  .WYFimg:nth-child(4) {
    animation-delay: 102s;
  }
  .WYFimg:nth-child(5) {
    animation-delay: 136s;
  }
  .WYFimg:nth-child(6) {
    animation-delay: 170s;
  }
  .WYFimg:nth-child(7) {
    animation-delay: 204s;
  }
  .DescriptionPara{
    width: 550px;
    align-items: center;
    height: 250px;
    margin-bottom: 290px;
    margin-top: 300px;
    margin-right: 0px;
    background-color: rgba(149, 148, 148, 0.241);
  }

  .animatedPara{
    position: relative;
    width: 540px;
    height: 180px;
    overflow: hidden;
    margin-right: -95px;
    margin: 10px;
    background-color: rgb(255, 255, 255);

  }
  .para{
    font-size: 1rem;
    padding: 29px 0px 0px 10px;
    line-height:18px;
    margin-left: -20px;
    text-align: justify;
    width: 510px;
    color: #000000;
  }

  
  .animatedPara > .para {
    position: absolute;
    top: -20px;
    left: calc(30% - 135px);
    opacity: 0;
    animation: display 238s infinite;
  }


  .para:nth-child(1) {
    animation-delay: 1s;
  }
  .para:nth-child(2) {
    animation-delay: 34s;
  }
  .para:nth-child(3) {
    animation-delay: 68s;
  }
  .para:nth-child(4) {
    animation-delay: 102s;
  }
  .para:nth-child(5) {
    animation-delay: 136s;
  }
  .para:nth-child(6) {
    animation-delay: 170s;
  }
  .para:nth-child(7) {
    animation-delay: 204s;
  }
    /* Section 3 */
    .olympic-location-intro{
        margin-top: 50px;
    }

    .sec-three{
        background-color:#4870FF;
        flex-direction: column;
        border-radius: 0px;
    }

    .left-div img{
        width:500px;
        margin: 40px 30px 10px 30px;
        border:8px solid #ffffff;
        border-radius: 15px;
    }

    .right-div p{
        padding: 5px 15px 15px 15px;
        font-size: 1.4rem;
    }


    /* Sec 4 */

    .winner-player-section{
        margin-top: 35px;
    }

    .sec-four {
        flex-direction: column;        
        
    }

    .winner-cards{

        justify-content:space-around;
    }
    .example-card{
        width:270px;
        min-height: 150px;
        margin: 10px;
    }

    .card-text{
        bottom: 10px;
        text-align: center;
        font-size: 1rem;
        color: #ffffff;
        line-height: 20px;
    }

    .women-div img{
        display: none;
    }

    .example-card:hover{
        box-shadow: 0 0 20px #888888;
    }

    /* Section 5 */
    
    h5{
        font-size: 2.4rem;
        color: #000000df;
        font-weight: 700;
        padding: 0px 30px 0px 30px;
        line-height: 50px;
        font-family: 'Poppins', sans-serif;
    }
     .big-news-section{

        margin-top: 35px;
    }

    .sec-five{
        gap: 30px;
        flex-direction: column;
        margin: 10px;
        /* background-color: #4870FF; */
    }

    .left-part {
        flex-direction: column;
        row-gap: 1px;
    }

    .left-part p{
       text-align: justify;
       color: #000000 !important;
       font-size: 1.2rem;
       padding:18px 30px 10px 30px;
       line-height: 25px;
    }

/* 
    .left-part h5{
        line-height:65px;
        color: #000000 !important;
     } */

    .right-part img{
        width: 490px;
        height: 280px;
        margin-top: -5px;
    }
    .Play-btn{
        width: 490px;
        height: 38px;
        font-size: 18px;
        margin-top: 13px;
        font-weight: 500;
        /* transition: 0.1s ease-in; */
    
    }


    /* Section six */

    .blogs-section{
        margin-top: 50px;

    }

    .sec-six{
        /* background-color: #000000; */
        flex-direction: column;
        row-gap: 15px;
        background-image: url(images/Global_Map.png);
        background-size: cover;
        background-repeat:no-repeat;
       

    }
    .first-part h3{
        color:#073dff; 
        text-shadow: 0 0 10px #ffffff;
     
    }

    .msg-box{
        background-color: #4870ff46;;
        border-radius: 15px;
        backdrop-filter: blur(3px);
        position: relative;
        width: 100%;
        min-height: 30%;
        padding: 25px;
    }

    .second-part h2{
        font-size: 1.4rem;
        color: #000000;
        font-weight: 600;
    }

    .second-part p{
       color:#000000 ;
       font-size: 1.33rem;
       
    }

    /* Section 7 */

    .online-booking{
        margin-top: 35px;
    }

    .lower-div{
    margin-top: 10px;
    }

    .upper-div h3{
       flex-direction: row;
       font-size: 2.4rem;
    }
    .upper-div img{
        width: 100px;
    }

    .lower-div{
        /* margin-top: 10px; */
        flex-direction: column;
        justify-content:space-evenly;
        gap: 30px;  
    } 

    .Ticketing{
       width: 100%;
       flex-direction: column;
       height: 100%;
       padding: 20px;
       
    
    }

    .Ticketing h5{
        color: #ffffffdd;
        font-size: 2rem;
       
    }


    .Ticketing p{
        color: #0c0c0c;
        font-family: poppins, sans-serif;
       font-weight: 400;
       font-size: 1.13rem;
       padding: 0px 30px 0px 30px;
    }

    .Ticketing h2{
        font-size: 1.3rem;
        color: #000000c6;
        font-weight: 600;
        padding: 0px 30px 0px 30px;
    }
    
    .Ticketing input {
        margin-left:30px;
        margin-top: 20px;
        padding: 10px;
    }

    footer{
        height: 100px;
        margin-top: 60px;
        
        background-color: #000d3b;
    }

    .foot{
        flex-direction: column;
        justify-content:center;
    }

    .foot p{
        margin-top: 35px;
    }



}